body {
  background-image: url("https://cdn.discordapp.com/attachments/983490471575842908/1089347876326482052/Blue_Illustration_Sleep_Tips_Infographic_Poster_1.png");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

h1 {
  color: #fff;
  font-size: 5em;
  margin: 20% auto 0;
  max-width: 800px;
  text-align: center;
  text-shadow: 2px 2px #000;
}
